################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

AdventOfCode2021/.vs
AdventOfCode2021/bin
AdventOfCode2021/obj

/AdventOfCode2022/node_modules
AdventOfCode2022/*.js
