################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

AdventOfCode2021/.vs
AdventOfCode2021/bin
AdventOfCode2021/obj

/AdventOfCode2022/node_modules
AdventOfCode2022/*.js

AdventOfCode2023/target/debug/*
AdventOfCode2023/target/.rustc_info.json
AdventOfCode2023/Cargo.lock
AdventOfCode2023/target/CACHEDIR.TAG

AdventOfCode2024/.vs
AdventOfCode2024/obj
AdventOfCode2024/bin